name: Deploy to Cloudflare Workers

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Update Wrangler
        run: bun add -d wrangler@latest

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          packageManager: bun
          
          command: deploy --minify -c wrangler.jsonc
          postCommands: |
            echo "$SECRETS_JSON" | bunx wrangler secret bulk -c wrangler.jsonc
        env:
          SECRETS_JSON: |
            {
              "BOT_TOKEN": "${{ secrets.BOT_TOKEN }}",
              "BOT_SECRET": "${{ secrets.BOT_SECRET }}",
              "ADMIN_UID": "${{ secrets.ADMIN_UID }}",
              "CLOUDFLARE_TURNSTILE_SITE_KEY": "${{ secrets.CLOUDFLARE_TURNSTILE_SITE_KEY }}",
              "CLOUDFLARE_TURNSTILE_SECRET_KEY": "${{ secrets.CLOUDFLARE_TURNSTILE_SECRET_KEY }}",
              "AI_VERIFICATION_API_KEY": "${{ secrets.AI_VERIFICATION_API_KEY }}",
              "VERIFICATION_BASE_URL": "${{ secrets.VERIFICATION_BASE_URL }}",
              "AI_VERIFICATION_BASE_URL": "${{ secrets.AI_VERIFICATION_BASE_URL }}"
            }